.gradle/
.idea/
build/
/vendor/
/.tools/
/bin/
/tmp/
/.settings/
/gradle/
/gradlew
/gradlew.bat
node_modules/

*.tmp
*.bak
*.swp
*.jar
*.class

local.properties
.loadpath
.recommenders

/run.sh
*.env

.classpath
.project
.settings
*~
.*~
.envrc
