*.html linguist-documentation
*.sql  linguist-detectable linguist-language=SQL

gradlew linguist-generated
gradlew.bat linguist-generated

query-service/schema/library.raml linguist-generated
report-service/schema/library.raml linguist-generated
