.gradle/
.idea/
.tools/
bin/
.bin/
blastdb/
build/

!lib-mblast-gradle/src/main/kotlin/mblast/build

mblast-dev.properties

*.bak
*.swp
*.class

local.properties
.loadpath
.recommenders

/run.sh
*.env

.classpath
.project
.settings
*~
.*~
.envrc
