.gradle/
.idea/
.tools/
blastdb/
build/
.bin/

mblast-dev.properties
test-config.properties

*.bak
*.swp
*.class

local.properties
.loadpath
.recommenders

/run.sh
*.env

.classpath
.project
.settings
*~
.*~
.envrc

!lib-mblast-gradle/src/main/kotlin/mblast/build
!script-mblast2-migration/sample.env
