*.html linguist-documentation
*.sql  linguist-detectable linguist-language=SQL

gradlew linguist-generated
gradlew.bat linguist-generated

service-query/schema/library.raml linguist-generated
service-report/schema/library.raml linguist-generated
